@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8k9t.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px;
    flex-direction: column
  }
  .image0row0,
  .style44 {
    display: flex;
    align-items: center
  }
  .image0row0 {
    margin-top: 35px;
    margin-left: 16px;
    width: 312px;
    height: 39px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv90qq.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 56px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style45 {
    color: #fff;
    font-family: microsoftsansserif,serif;
    font-size: 1em;
    height: 12px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv9171.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 10px;
    width: 104px;
    height: 34px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 1em;
    height: 15px
  }
  .style48 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv91la.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 11px;
    width: 83px;
    height: 100%;
    align-items: center;
    flex-direction: column
  }
  .style49 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: .9375em;
    margin-top: 11px;
    height: 12px
  }
  .style42 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8zyi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 9px;
    width: 39px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style43 {
    width: 14px;
    height: 14px
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8s34.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 3px;
    width: 100%;
    height: 219px;
    align-self: stretch;
    flex-direction: column
  }
  .style22,
  .style23 {
    color: #fff;
    font-family: adellesans,serif;
    flex-shrink: 0
  }
  .style22 {
    font-weight: 700;
    height: 23px;
    font-size: 1.75em;
    margin-left: 21px;
    margin-top: 16px
  }
  .style23 {
    font-size: 1.1875em;
    line-height: 24px;
    margin-left: 22px;
    margin-top: 18px;
    width: 318px
  }
  .image0image15row2 {
    position: relative;
    display: flex;
    margin-left: 26px;
    margin-top: 10px;
    width: 339px;
    height: 32px;
    flex-shrink: 0
  }
  .style24,
  .style25 {
    margin-left: 0;
    width: 24px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style24 {
    margin-left: 15px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8tx1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .8;
    position: relative;
    display: flex;
    margin-left: 174px;
    margin-top: 13px;
    width: 103px;
    height: 24px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center
  }
  .style27 {
    color: #666;
    font-family: adellesans,serif;
    font-size: .9375em;
    height: 15px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8l1v.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 8px;
    width: 100%;
    height: 204px;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .style3 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 1.1875em;
    line-height: 24px;
    margin-left: 21px;
    margin-top: 68px;
    width: 318px
  }
  .image0image15image1row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 10px;
    width: 337px;
    height: 32px;
    align-items: flex-end
  }
  .style5,
  .style6 {
    margin-left: 0;
    width: 24px;
    height: 100%
  }
  .style5 {
    margin-left: 15px
  }
  .image0image15image1row1column2 {
    display: flex;
    margin-left: 173px;
    width: 101px;
    height: 26px;
    flex-direction: column
  }
  .style10,
  .style8,
  .style9 {
    position: relative;
    margin-top: 0
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8ned.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    width: 17px;
    height: 14px
  }
  .style10,
  .style8 {
    width: 101px;
    height: 1px;
    flex-shrink: 0
  }
  .style8 {
    margin-top: 11px;
    width: 100%;
    height: 14px
  }
  .style4 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: .9375em;
    margin-left: 28px;
    margin-top: 0;
    height: 15px
  }
  .style7 {
    margin-top: 2px;
    width: 100%;
    height: 1px;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-top: 103px;
    width: 362px;
    height: 113px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8wu6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 113px;
    align-items: center;
    flex-direction: column
  }
  .style35 {
    margin-top: 16px;
    width: 57px;
    height: 30px
  }
  .style36 {
    margin-top: 18px;
    width: 56px;
    height: 16px
  }
  .style38 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8yfk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 113px;
    align-items: center;
    flex-direction: column
  }
  .style40 {
    margin-top: 16px;
    width: 91px;
    height: 34px
  }
  .style39 {
    margin-top: 14px;
    width: 56px;
    height: 16px
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8uqk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 113px;
    flex-direction: column
  }
  .style30 {
    margin-left: 6px;
    margin-top: 16px;
    width: 98px;
    height: 33px
  }
  .style31,
  .style32 {
    margin-top: 11px;
    width: 77px;
    height: 25px;
    align-self: center
  }
  .style32 {
    margin-top: 6px;
    width: 69px;
    height: 3px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8oft.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 156px;
    align-self: stretch;
    flex-direction: column
  }
  .style13,
  .style14 {
    color: #fff;
    font-family: adellesans,serif
  }
  .style13 {
    font-weight: 700;
    height: 23px;
    font-size: 1.75em;
    margin-left: 22px;
    margin-top: 19px
  }
  .style14 {
    font-size: 1.1875em;
    line-height: 24px;
    margin-left: 23px;
    margin-top: 18px;
    width: 318px
  }
  .image0image8row2 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 59px;
    align-self: stretch
  }
  .style51 {
    position: relative;
    width: 375px;
    height: 1px
  }
  .style50 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv921n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 375px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .image0image8row2image38row0 {
    display: flex;
    margin-left: 17px;
    width: 322px;
    height: 43px;
    align-items: stretch
  }
  .style52 {
    margin-left: 0;
    width: 49px
  }
  .style53 {
    margin-left: 58px;
    width: 41px
  }
  .style54,
  .style55 {
    margin-left: 45px;
    width: 43px
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv93wk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 42px;
    align-items: center;
    flex-direction: column
  }
  .image0image8row2image38row0image43row0 {
    position: relative;
    display: flex;
    margin-top: 8px;
    width: 32px;
    height: 22px
  }
  .style59 {
    margin-left: 2px;
    width: 14px;
    height: 13px;
    flex-shrink: 0
  }
  .image0image8row2image38row0image43row0column0 {
    position: relative;
    display: flex;
    margin-left: 0;
    width: 14px;
    height: 25px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style56,
  .style57,
  .style58 {
    width: 7px;
    height: 11px;
    flex-shrink: 0
  }
  .style56,
  .style58 {
    position: relative;
    margin-left: 11px
  }
  .style56 {
    margin-left: 7px;
    margin-top: 2px;
    width: 11px;
    height: 22px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8k9t.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px;
    flex-direction: column
  }
  .image0row0,
  .style44 {
    display: flex;
    align-items: center
  }
  .image0row0 {
    margin-top: 72px;
    margin-left: 33px;
    width: 639px;
    height: 80px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv90qq.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 115px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style45 {
    color: #fff;
    font-family: microsoftsansserif,serif;
    font-size: 2.048em;
    height: 25px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv9171.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 20px;
    width: 213px;
    height: 70px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 2.048em;
    height: 31px
  }
  .style48 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv91la.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 23px;
    width: 170px;
    height: 100%;
    align-items: center;
    flex-direction: column
  }
  .style49 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 1.92em;
    margin-top: 23px;
    height: 25px
  }
  .style42 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8zyi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 18px;
    width: 80px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style43 {
    width: 29px;
    height: 29px
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8s34.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 6px;
    width: 100%;
    height: 449px;
    align-self: stretch;
    flex-direction: column
  }
  .style22,
  .style23 {
    color: #fff;
    font-family: adellesans,serif;
    flex-shrink: 0
  }
  .style22 {
    font-weight: 700;
    height: 47px;
    font-size: 3.584em;
    margin-left: 43px;
    margin-top: 33px
  }
  .style23 {
    font-size: 2.432em;
    line-height: 49px;
    margin-left: 45px;
    margin-top: 37px;
    width: 651px
  }
  .image0image15row2 {
    position: relative;
    display: flex;
    margin-left: 53px;
    margin-top: 20px;
    width: 694px;
    height: 66px;
    flex-shrink: 0
  }
  .style24,
  .style25 {
    margin-left: 0;
    width: 49px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style24 {
    margin-left: 31px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8tx1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .8;
    position: relative;
    display: flex;
    margin-left: 356px;
    margin-top: 27px;
    width: 211px;
    height: 49px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center
  }
  .style27 {
    color: #666;
    font-family: adellesans,serif;
    font-size: 1.92em;
    height: 31px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8l1v.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 418px;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .style3 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 2.432em;
    line-height: 49px;
    margin-left: 43px;
    margin-top: 139px;
    width: 651px
  }
  .image0image15image1row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 20px;
    width: 690px;
    height: 66px;
    align-items: flex-end
  }
  .style5,
  .style6 {
    margin-left: 0;
    width: 49px;
    height: 100%
  }
  .style5 {
    margin-left: 31px
  }
  .image0image15image1row1column2 {
    display: flex;
    margin-left: 354px;
    width: 207px;
    height: 53px;
    flex-direction: column
  }
  .style10,
  .style8,
  .style9 {
    position: relative;
    margin-top: 0
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8ned.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 29px
  }
  .style10,
  .style8 {
    width: 207px;
    height: 2px;
    flex-shrink: 0
  }
  .style8 {
    margin-top: 23px;
    width: 100%;
    height: 29px
  }
  .style4 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 1.92em;
    margin-left: 57px;
    margin-top: 0;
    height: 31px
  }
  .style7 {
    margin-top: 4px;
    width: 100%;
    height: 2px;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-top: 211px;
    width: 741px;
    height: 231px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8wu6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 231px;
    align-items: center;
    flex-direction: column
  }
  .style35 {
    margin-top: 33px;
    width: 117px;
    height: 61px
  }
  .style36 {
    margin-top: 37px;
    width: 115px;
    height: 33px
  }
  .style38 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8yfk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 231px;
    align-items: center;
    flex-direction: column
  }
  .style40 {
    margin-top: 33px;
    width: 186px;
    height: 70px
  }
  .style39 {
    margin-top: 29px;
    width: 115px;
    height: 33px
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8uqk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 231px;
    flex-direction: column
  }
  .style30 {
    margin-left: 12px;
    margin-top: 33px;
    width: 201px;
    height: 68px
  }
  .style31,
  .style32 {
    margin-top: 23px;
    width: 158px;
    height: 51px;
    align-self: center
  }
  .style32 {
    margin-top: 12px;
    width: 141px;
    height: 6px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8oft.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 319px;
    align-self: stretch;
    flex-direction: column
  }
  .style13,
  .style14 {
    color: #fff;
    font-family: adellesans,serif
  }
  .style13 {
    font-weight: 700;
    height: 47px;
    font-size: 3.584em;
    margin-left: 45px;
    margin-top: 39px
  }
  .style14 {
    font-size: 2.432em;
    line-height: 49px;
    margin-left: 47px;
    margin-top: 37px;
    width: 651px
  }
  .image0image8row2 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 121px;
    align-self: stretch
  }
  .style51 {
    position: relative;
    width: 768px;
    height: 2px
  }
  .style50 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv921n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 768px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .image0image8row2image38row0 {
    display: flex;
    margin-left: 35px;
    width: 659px;
    height: 88px;
    align-items: stretch
  }
  .style52 {
    margin-left: 0;
    width: 100px
  }
  .style53 {
    margin-left: 119px;
    width: 84px
  }
  .style54,
  .style55 {
    margin-left: 92px;
    width: 88px
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv93wk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 86px;
    align-items: center;
    flex-direction: column
  }
  .image0image8row2image38row0image43row0 {
    position: relative;
    display: flex;
    margin-top: 16px;
    width: 66px;
    height: 45px
  }
  .style59 {
    margin-left: 4px;
    width: 29px;
    height: 27px;
    flex-shrink: 0
  }
  .image0image8row2image38row0image43row0column0 {
    position: relative;
    display: flex;
    margin-left: 0;
    width: 29px;
    height: 51px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style56,
  .style57,
  .style58 {
    width: 14px;
    height: 23px;
    flex-shrink: 0
  }
  .style56,
  .style58 {
    position: relative;
    margin-left: 23px
  }
  .style56 {
    margin-left: 14px;
    margin-top: 4px;
    width: 23px;
    height: 45px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8k9t.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px;
    flex-direction: column
  }
  .image0row0,
  .style44 {
    display: flex;
    align-items: center
  }
  .image0row0 {
    margin-top: 86px;
    margin-left: 39px;
    width: 765px;
    height: 96px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv90qq.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 137px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style45 {
    color: #fff;
    font-family: microsoftsansserif,serif;
    font-size: 2.453333333333333em;
    height: 29px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv9171.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 25px;
    width: 255px;
    height: 83px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 2.453333333333333em;
    height: 37px
  }
  .style48 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv91la.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 27px;
    width: 204px;
    height: 100%;
    align-items: center;
    flex-direction: column
  }
  .style49 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 2.3em;
    margin-top: 27px;
    height: 29px
  }
  .style42 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8zyi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 22px;
    width: 96px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style43 {
    width: 34px;
    height: 34px
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8s34.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 7px;
    width: 100%;
    height: 537px;
    align-self: stretch;
    flex-direction: column
  }
  .style22,
  .style23 {
    color: #fff;
    font-family: adellesans,serif;
    flex-shrink: 0
  }
  .style22 {
    font-weight: 700;
    height: 56px;
    font-size: 4.293333333333333em;
    margin-left: 52px;
    margin-top: 39px
  }
  .style23 {
    font-size: 2.913333333333333em;
    line-height: 59px;
    margin-left: 54px;
    margin-top: 44px;
    width: 780px
  }
  .image0image15row2 {
    position: relative;
    display: flex;
    margin-left: 64px;
    margin-top: 25px;
    width: 832px;
    height: 79px;
    flex-shrink: 0
  }
  .style24,
  .style25 {
    margin-left: 0;
    width: 59px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style24 {
    margin-left: 37px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8tx1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .8;
    position: relative;
    display: flex;
    margin-left: 427px;
    margin-top: 32px;
    width: 253px;
    height: 59px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center
  }
  .style27 {
    color: #666;
    font-family: adellesans,serif;
    font-size: 2.3em;
    height: 37px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8l1v.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .style3 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 2.913333333333333em;
    line-height: 59px;
    margin-left: 52px;
    margin-top: 167px;
    width: 780px
  }
  .image0image15image1row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 25px;
    width: 827px;
    height: 79px;
    align-items: flex-end
  }
  .style5,
  .style6 {
    margin-left: 0;
    width: 59px;
    height: 100%
  }
  .style5 {
    margin-left: 37px
  }
  .image0image15image1row1column2 {
    display: flex;
    margin-left: 424px;
    width: 248px;
    height: 64px;
    flex-direction: column
  }
  .style10,
  .style8,
  .style9 {
    position: relative;
    margin-top: 0
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8ned.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    height: 34px
  }
  .style10,
  .style8 {
    width: 248px;
    height: 2px;
    flex-shrink: 0
  }
  .style8 {
    margin-top: 27px;
    width: 100%;
    height: 34px
  }
  .style4 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 2.3em;
    margin-left: 69px;
    margin-top: 0;
    height: 37px
  }
  .style7 {
    margin-top: 5px;
    width: 100%;
    height: 2px;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-top: 253px;
    width: 888px;
    height: 277px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8wu6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 277px;
    align-items: center;
    flex-direction: column
  }
  .style35 {
    margin-top: 39px;
    width: 140px;
    height: 74px
  }
  .style36 {
    margin-top: 44px;
    width: 137px;
    height: 39px
  }
  .style38 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8yfk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 277px;
    align-items: center;
    flex-direction: column
  }
  .style40 {
    margin-top: 39px;
    width: 223px;
    height: 83px
  }
  .style39 {
    margin-top: 34px;
    width: 137px;
    height: 39px
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8uqk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 277px;
    flex-direction: column
  }
  .style30 {
    margin-left: 15px;
    margin-top: 39px;
    width: 240px;
    height: 81px
  }
  .style31,
  .style32 {
    margin-top: 27px;
    width: 189px;
    height: 61px;
    align-self: center
  }
  .style32 {
    margin-top: 15px;
    width: 169px;
    height: 7px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8oft.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 383px;
    align-self: stretch;
    flex-direction: column
  }
  .style13,
  .style14 {
    color: #fff;
    font-family: adellesans,serif
  }
  .style13 {
    font-weight: 700;
    height: 56px;
    font-size: 4.293333333333333em;
    margin-left: 54px;
    margin-top: 47px
  }
  .style14 {
    font-size: 2.913333333333333em;
    line-height: 59px;
    margin-left: 56px;
    margin-top: 44px;
    width: 780px
  }
  .image0image8row2 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 145px;
    align-self: stretch
  }
  .style51 {
    position: relative;
    width: 920px;
    height: 2px
  }
  .style50 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv921n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 920px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .image0image8row2image38row0 {
    display: flex;
    margin-left: 42px;
    width: 790px;
    height: 105px;
    align-items: stretch
  }
  .style52 {
    margin-left: 0;
    width: 120px
  }
  .style53 {
    margin-left: 142px;
    width: 101px
  }
  .style54,
  .style55 {
    margin-left: 110px;
    width: 105px
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv93wk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 103px;
    align-items: center;
    flex-direction: column
  }
  .image0image8row2image38row0image43row0 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 79px;
    height: 54px
  }
  .style59 {
    margin-left: 5px;
    width: 34px;
    height: 32px;
    flex-shrink: 0
  }
  .image0image8row2image38row0image43row0column0 {
    position: relative;
    display: flex;
    margin-left: 0;
    width: 34px;
    height: 61px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style56,
  .style57,
  .style58 {
    width: 17px;
    height: 27px;
    flex-shrink: 0
  }
  .style56,
  .style58 {
    position: relative;
    margin-left: 27px
  }
  .style56 {
    margin-left: 17px;
    margin-top: 5px;
    width: 27px;
    height: 54px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8k9t.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px;
    flex-direction: column
  }
  .image0row0,
  .style44 {
    display: flex;
    align-items: center
  }
  .image0row0 {
    margin-top: 112px;
    margin-left: 51px;
    width: 998px;
    height: 125px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv90qq.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 179px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style45 {
    color: #fff;
    font-family: microsoftsansserif,serif;
    font-size: 3.2em;
    height: 38px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv9171.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 32px;
    width: 333px;
    height: 109px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 3.2em;
    height: 48px
  }
  .style48 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv91la.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 35px;
    width: 266px;
    height: 100%;
    align-items: center;
    flex-direction: column
  }
  .style49 {
    color: #51a5f4;
    font-family: microsoftsansserif,serif;
    font-size: 3em;
    margin-top: 35px;
    height: 38px
  }
  .style42 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8zyi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 29px;
    width: 125px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style43 {
    width: 45px;
    height: 45px
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8s34.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 701px;
    align-self: stretch;
    flex-direction: column
  }
  .style22,
  .style23 {
    color: #fff;
    font-family: adellesans,serif;
    flex-shrink: 0
  }
  .style22 {
    font-weight: 700;
    height: 74px;
    font-size: 5.6000000000000005em;
    margin-left: 67px;
    margin-top: 51px
  }
  .style23 {
    font-size: 3.8000000000000003em;
    line-height: 77px;
    margin-left: 70px;
    margin-top: 58px;
    width: 1018px
  }
  .image0image15row2 {
    position: relative;
    display: flex;
    margin-left: 83px;
    margin-top: 32px;
    width: 1085px;
    height: 102px;
    flex-shrink: 0
  }
  .style24,
  .style25 {
    margin-left: 0;
    width: 77px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style24 {
    margin-left: 48px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8tx1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .8;
    position: relative;
    display: flex;
    margin-left: 557px;
    margin-top: 42px;
    width: 330px;
    height: 77px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center
  }
  .style27 {
    color: #666;
    font-family: adellesans,serif;
    font-size: 3em;
    height: 48px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8l1v.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 26px;
    width: 100%;
    height: 653px;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .style3 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 3.8000000000000003em;
    line-height: 77px;
    margin-left: 67px;
    margin-top: 218px;
    width: 1018px
  }
  .image0image15image1row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 32px;
    width: 1078px;
    height: 102px;
    align-items: flex-end
  }
  .style5,
  .style6 {
    margin-left: 0;
    width: 77px;
    height: 100%
  }
  .style5 {
    margin-left: 48px
  }
  .image0image15image1row1column2 {
    display: flex;
    margin-left: 554px;
    width: 323px;
    height: 83px;
    flex-direction: column
  }
  .style10,
  .style8,
  .style9 {
    position: relative;
    margin-top: 0
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8ned.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    width: 54px;
    height: 45px
  }
  .style10,
  .style8 {
    width: 323px;
    height: 3px;
    flex-shrink: 0
  }
  .style8 {
    margin-top: 35px;
    width: 100%;
    height: 45px
  }
  .style4 {
    color: #fff;
    font-family: adellesans,serif;
    font-size: 3em;
    margin-left: 90px;
    margin-top: 0;
    height: 48px
  }
  .style7 {
    margin-top: 6px;
    width: 100%;
    height: 3px;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-top: 330px;
    width: 1158px;
    height: 362px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8wu6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 362px;
    align-items: center;
    flex-direction: column
  }
  .style35 {
    margin-top: 51px;
    width: 182px;
    height: 96px
  }
  .style36 {
    margin-top: 58px;
    width: 179px;
    height: 51px
  }
  .style38 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8yfk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 362px;
    align-items: center;
    flex-direction: column
  }
  .style40 {
    margin-top: 51px;
    width: 291px;
    height: 109px
  }
  .style39 {
    margin-top: 45px;
    width: 179px;
    height: 51px
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8uqk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 362px;
    flex-direction: column
  }
  .style30 {
    margin-left: 19px;
    margin-top: 51px;
    width: 314px;
    height: 106px
  }
  .style31,
  .style32 {
    margin-top: 35px;
    width: 246px;
    height: 80px;
    align-self: center
  }
  .style32 {
    margin-top: 19px;
    width: 221px;
    height: 10px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv8oft.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 499px;
    align-self: stretch;
    flex-direction: column
  }
  .style13,
  .style14 {
    color: #fff;
    font-family: adellesans,serif
  }
  .style13 {
    font-weight: 700;
    height: 74px;
    font-size: 5.6000000000000005em;
    margin-left: 70px;
    margin-top: 61px
  }
  .style14 {
    font-size: 3.8000000000000003em;
    line-height: 77px;
    margin-left: 74px;
    margin-top: 58px;
    width: 1018px
  }
  .image0image8row2 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 189px;
    align-self: stretch
  }
  .style51 {
    position: relative;
    width: 1200px;
    height: 3px
  }
  .style50 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv921n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 1200px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .image0image8row2image38row0 {
    display: flex;
    margin-left: 54px;
    width: 1030px;
    height: 138px;
    align-items: stretch
  }
  .style52 {
    margin-left: 0;
    width: 157px
  }
  .style53 {
    margin-left: 186px;
    width: 131px
  }
  .style54,
  .style55 {
    margin-left: 144px;
    width: 138px
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/9lhforbfjonv93wk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 134px;
    align-items: center;
    flex-direction: column
  }
  .image0image8row2image38row0image43row0 {
    position: relative;
    display: flex;
    margin-top: 26px;
    width: 102px;
    height: 70px
  }
  .style59 {
    margin-left: 6px;
    width: 45px;
    height: 42px;
    flex-shrink: 0
  }
  .image0image8row2image38row0image43row0column0 {
    position: relative;
    display: flex;
    margin-left: 0;
    width: 45px;
    height: 80px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style56,
  .style57,
  .style58 {
    width: 22px;
    height: 35px;
    flex-shrink: 0
  }
  .style56,
  .style58 {
    position: relative;
    margin-left: 35px
  }
  .style56 {
    margin-left: 22px;
    margin-top: 6px;
    width: 35px;
    height: 70px
  }
}